ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

li a:hover:not(.active) {
    background-color: #ddd;
    color: red;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

img {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 3px;
}

.ad{
    position: center;
    text-align: center;
}

table, th, td{
    border: 1px solid black;
}
.tk{
    color: blue;
}
.tk:hover{
    color: red;
}
#tg{
    text-align: center;
}
.pos{
    position: fixed;
    width: 100%;
}

.dv{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px; 
}
#wr{
    color: white;
}
#wr:hover:not(.active){
    color: red;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;          
}
#section {
    width:350px;
    float:left;
    padding:10px;        
}
.gb{
    line-height: 50px;
    padding: 5px;
}

      #cont {display: none; }
      .show:focus + .hide {display: inline; }
      .show:focus + .hide + #cont {display: block;}

.grs{
    border-style: dotted;
    border-width: 2px;
}

input, textarea{
     padding: 10px;
     border:3px solid #e6e6e6;
     border-radius: 5px;
     margin-bottom: 15px; 
}

input:focus, textarea:focus{
    border:6px solid #5E4F4F;
}
 
textarea{
    width:300px;
}

input[type="submit"]{
     cursor: pointer;
     background: -webkit-linear-gradient(top, #efefef, #ddd);
     background: -moz-linear-gradient(top, #efefef, #ddd);
     background: -ms-linear-gradient(top, #efefef, #ddd);
     background: -o-linear-gradient(top, #efefef, #ddd);
     background: linear-gradient(top, #efefef, #ddd);
     color: #333;
     text-shadow: 0px 1px 1px rgba(255,255,255,1);
     border: 1px solid #ccc;
}
 
input[type="submit"]:hover {
     background: -webkit-linear-gradient(top, #eee, #ccc);
     background: -moz-linear-gradient(top, #eee, #ccc);
     background: -ms-linear-gradient(top, #eee, #ccc);
     background: -o-linear-gradient(top, #eee, #ccc);
     background: linear-gradient(top, #eee, #ccc);
     border: 1px solid #bbb;
}

.pd{
    padding: 30px;
}


.bulat{
border-radius:100em;
width:160px;
height:160px;
}