ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

li a:hover:not(.active) {
    background-color: #ddd;
    color: red;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

img {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 3px;
}

.ad{
    position: center;
    text-align: center;
}

table, th, td{
    border: 1px solid black;
}
.tk{
    color: blue;
}
.tk:hover{
    color: red;
}
#tg{
    text-align: center;
}
.pos{
    position: fixed;
    width: 100%;
}

.dv{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px; 
}
#wr{
    color: white;
}
#wr:hover:not(.active){
    color: red;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;          
}
#section {
    width:350px;
    float:left;
    padding:10px;        
}